In [1]:
l = [2,3,4,5,6]

In [2]:
def test(l):
    l1 = []
    for i in l:  
        l1.append(i**2)
    return l1

In [3]:
test(l)

[4, 9, 16, 25, 36]

## Map
The map()function applies a given function to each item of an iterable(list,tuple etc) and return a list of the results.
map() function takes two parameters

function : The function to execute for each item of a given iterable.
iterable : It is iterable which is mapped.

In [4]:
def sq(x):
    return x**2

In [5]:
list(map(sq,l))

[4, 9, 16, 25, 36]

In [7]:
map(sq,l)

In [9]:
list(map(lambda x: x**2,l))
l1 = [1,2,3,4,5]
l2 = [6,7,8,9,10]

In [10]:
list(map(lambda x,y:x+y,l1,l2))

[7, 9, 11, 13, 15]

In [11]:
def add(x,y):
    return x+y

In [12]:
list(map(add,l1,l2))

[7, 9, 11, 13, 15]

In [13]:
s ='datascience'
list(map(lambda s : s.upper(),s))

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'N', 'C', 'E']

## Reduce
The reduce() function is defined in the functools python module. The reduce() function recevies two arguments a function and iterable. However it doesn't return another iterable. instead it returns a single value.

In [14]:
from functools import reduce

In [15]:
l = [1,2,3,3,4,5]

In [16]:
reduce(lambda x,y: x+y ,l)

18

In [17]:
reduce(lambda x,y,z : x+y+z, l)

TypeError: <lambda>() missing 1 required positional argument: 'z'

In [23]:
l1 = [1,2,3,3,4,5,6,7]

In [24]:
reduce(lambda x,y,z : x+y+z, l1)

TypeError: <lambda>() missing 1 required positional argument: 'z'

In [25]:
reduce(lambda x,y,z: x+y+z,[1])   #exceptional case

1

In [26]:
reduce(lambda x,y,z: x+y+z,[5])

5

In [27]:
reduce(lambda x,y : x+y, [])

TypeError: reduce() of empty iterable with no initial value

In [28]:
reduce(lambda x,y : x*y , l)

360

In [29]:
reduce(lambda x,y : x if x > y else y , l)

5

In [30]:
l

[1, 2, 3, 3, 4, 5]

## Filter
It is used to filter the iterables/sequence as per the conditions
Filter function filters the orginal iterable and passes the items that return True for the function provided to filter.

In [31]:
list(filter(lambda x : x % 2 == 0 , l))

[2, 4]

In [32]:
list(filter(lambda x : x % 2 != 0 , l))

[1, 3, 3, 5]

In [33]:
l1 = [-3,-4,-100,5,6,7,-1,-7]

In [34]:
list(filter(lambda x : x<0 ,l1))

[-3, -4, -100, -1, -7]

In [35]:
l2 = ['aws','ml','datascience','deeplearning','nlp','python']

In [36]:
list(filter(lambda x : len(x) < 6 , l2))

['aws', 'ml', 'nlp']