## OOPS stands for Object-Oriented Programming System
### Classes and Objects
Class is a Blueprint for that objects or for creating objects.

An Object is simply a collection of data(variables) and methods(function) that acts on those data.

Objects get their variables and function from class.

Objects are nothing but an ecapsulation of variable and function into a single entity.

Self Parameter is a reference to the current instance of the class and is used to access variable that belongs to the class.

All classes have a function called init() which is always executed when the class is being initiated(constructor).

We can use init () function to assign values to object properties or other operations that are necessary to perform when the object is being created.

In [1]:
a = 5

In [2]:
print(type(a))

<class 'int'>

In [3]:
print(type('aws'))

<class 'str'>

In [4]:
print(type(1.2356))

<class 'float'>

In [7]:
class test:   #syntax - to declare a class in python , we need to use 'class' keyword and test-- it is a class name
    pass

In [8]:
# create a class

class Data:
    num = 3.14
print(Data)

<class '__main__.Data'>

In [9]:
# create an object 

class Data:
    num = 3.14

obj = Data()  #obj is a object of class Data
obj.num       # to access the class variables we need to use dot operator

3.14

In [10]:
a = test()

In [11]:
print(type(a))

<class '__main__.test'>

In [12]:
class datascience:
    
    
    def welcome_msg(self):  #welcome_msg() -- it is a function or method , self is a reference variable
        print('Welcome To All Our Youtube Channel')

In [13]:
b=datascience()

In [14]:
print(type(b))

<class '__main__.datascience'>

In [16]:
b.welcome_msg()

Welcome To All Our Youtube Channel

In [17]:
c=datascience()

In [18]:
c.welcome_msg()

Welcome To All Our Youtube Channel

In [23]:
class Car:
    def __init__(self,color,model):  #__init__ constructor
        self.color=color
        self.model=model
        
    def start(self):
        return "Engine Started"

# creating an object
my_car=Car("Blue","BMW")

In [24]:
my_car.color

'Blue'

In [25]:
my_car.model

'BMW'

In [26]:
my_car.start()

'Engine Started'

In [27]:
class infosys:
    def __init__(self,emp_id, emp_name,emp_email_id):
        self.emp_id = emp_id
        self.emp_name = emp_name
        self.emp_email_id = emp_email_id
        
    def return_employee_details(self):
        return self.emp_id, self.emp_name, self.emp_email_id

In [28]:
obj1 = infosys(101,'rohan','rohan@gmail.com')

In [29]:
obj1.emp_id

101

In [30]:
obj1.emp_name

'rohan'

In [31]:
obj1.emp_email_id

'rohan@gmail.com'

In [32]:
obj1.return_employee_details()

(101, 'rohan', 'rohan@gmail.com')

In [33]:
class infosys1:
    def __init__(self,emp_id, emp_name,emp_email_id):
        self.emp_id1 = emp_id
        self.emp_name1 = emp_name
        self.emp_email_id1 = emp_email_id
        
    def return_employee_details(self):
        return self.emp_id1, self.emp_name1, self.emp_email_id1

In [34]:
obj2 = infosys1(102,'mohan','mohan@gmail.com')

In [35]:
obj2.emp_id1

102

In [36]:
obj2.emp_email_id1

'mohan@gmail.com'

In [37]:
obj2.emp_name1

'mohan'

In [38]:
obj2.return_employee_details()

(102, 'mohan', 'mohan@gmail.com')

In [39]:
class infosys2:
    def __init__(aws,emp_id,emp_name,emp_email_id):
        aws.emp_id1 = emp_id
        aws.emp_name1 = emp_name
        aws.emp_email_id1 = emp_email_id
        
        
    def return_employee_details(aws):
        return aws.emp_id1,aws.emp_name1,aws.emp_email_id1

In [40]:
cloud = infosys2(103,'sohan','sohan@google.com')

In [41]:
cloud.emp_email_id1

'sohan@google.com'

In [42]:
cloud.emp_id1

103

In [43]:
cloud.emp_name1

'sohan'

In [44]:
cloud.return_employee_details()

(103, 'sohan', 'sohan@google.com')