## List
Lists are used to store multiple items in a single variable.

List can contains any arbitary objects

Nested List

We can have different data types under a list eg we can have integer, float and string items in a same list.

Lists are mutable i.e object or variable to be changed or modified after its creation.

We can two lists.

Lists are ordered.

In [1]:
example=["Sunday","Monday","Tuesday"]

In [2]:
print(example)

['Sunday', 'Monday', 'Tuesday']

In [3]:
print(type(example))

<class 'list'>

In [4]:
# int , float , string 

l = [10, 20.7, 'DataScience', "Machine Learning"]
print(l)

[10, 20.7, 'DataScience', 'Machine Learning']

In [5]:
l1 = ['python', 3.14, 2002,[1,1,2,3,4,5,6,7,1,9]]
l1

['python', 3.14, 2002, [1, 1, 2, 3, 4, 5, 6, 7, 1, 9]]

In [6]:
l2=[10,20,True]

In [7]:
l2

[10, 20, True]

In [8]:
len(l2)

3

In [9]:
l2[3]

IndexError: list index out of range

In [10]:
l2[2]

True

In [11]:
example = ['Sunday', 'Monday','Tuesday', 'Wednesday']
#postive slicing
example[0:2]

['Sunday', 'Monday']

In [15]:
example[-2:]

['Tuesday', 'Wednesday']

In [16]:
example[-2]

'Tuesday'

In [17]:
example[0:4:2]

['Sunday', 'Tuesday']

In [18]:

#negative slicing 
example[-3:-1]

['Monday', 'Tuesday']

In [19]:
example[::-1]

['Wednesday', 'Tuesday', 'Monday', 'Sunday']

In [20]:
example[0]

'Sunday'

In [21]:
example[0]="Saturday"

In [22]:
example

['Saturday', 'Monday', 'Tuesday', 'Wednesday']

In [23]:
s ='dsskills' #string
l   #list

[10, 20.7, 'DataScience', 'Machine Learning']

In [24]:
s + l

TypeError: can only concatenate str (not "list") to str

In [25]:
list(s)+l

['d',
 's',
 's',
 'k',
 'i',
 'l',
 'l',
 's',
 10,
 20.7,
 'DataScience',
 'Machine Learning']

In [26]:
a = ["machine learning", 'data sciene', 'deep learning']
b = [10, 20, 3.14, "Gen AI"]
print(type(a))
print(type(b))

<class 'list'>
<class 'list'>

In [28]:
type(a[0])

str

In [29]:
a*3

['machine learning',
 'data sciene',
 'deep learning',
 'machine learning',
 'data sciene',
 'deep learning',
 'machine learning',
 'data sciene',
 'deep learning']

In [30]:

l = [1 , 345, 45 , 'ai', True , (3+6j), 34.98]
l

[1, 345, 45, 'ai', True, (3+6j), 34.98]

In [31]:
l.append(5)

In [32]:
l

[1, 345, 45, 'ai', True, (3+6j), 34.98, 5]

In [33]:
l.append(example)

In [34]:
l

[1,
 345,
 45,
 'ai',
 True,
 (3+6j),
 34.98,
 5,
 ['Saturday', 'Monday', 'Tuesday', 'Wednesday']]

In [35]:
l.extend(4)   #Extend list by appending elements from the iterable.

TypeError: 'int' object is not iterable

In [36]:
l.extend('rahul')

In [37]:
l

[1,
 345,
 45,
 'ai',
 True,
 (3+6j),
 34.98,
 5,
 ['Saturday', 'Monday', 'Tuesday', 'Wednesday'],
 'r',
 'a',
 'h',
 'u',
 'l']

In [40]:

l.extend([20.50,60])
l

[1,
 345,
 45,
 'ai',
 True,
 (3+6j),
 34.98,
 5,
 ['Saturday', 'Monday', 'Tuesday', 'Wednesday'],
 'r',
 'a',
 'h',
 'u',
 'l',
 20.5,
 60,
 20.5,
 60,
 20.5,
 60]

In [41]:
l.extend(False)
l

TypeError: 'bool' object is not iterable

In [42]:
l

[1,
 345,
 45,
 'ai',
 True,
 (3+6j),
 34.98,
 5,
 ['Saturday', 'Monday', 'Tuesday', 'Wednesday'],
 'r',
 'a',
 'h',
 'u',
 'l',
 20.5,
 60,
 20.5,
 60,
 20.5,
 60]

In [43]:
l.insert(1,'cloud')

In [44]:
l

[1,
 'cloud',
 345,
 45,
 'ai',
 True,
 (3+6j),
 34.98,
 5,
 ['Saturday', 'Monday', 'Tuesday', 'Wednesday'],
 'r',
 'a',
 'h',
 'u',
 'l',
 20.5,
 60,
 20.5,
 60,
 20.5,
 60]

In [45]:
l.insert(-1,45)
l

[1,
 'cloud',
 345,
 45,
 'ai',
 True,
 (3+6j),
 34.98,
 5,
 ['Saturday', 'Monday', 'Tuesday', 'Wednesday'],
 'r',
 'a',
 'h',
 'u',
 'l',
 20.5,
 60,
 20.5,
 60,
 20.5,
 45,
 60]

In [47]:
l.index(20.5)  #Return first index of value.

15

In [48]:
l.index('cloud')  #Return first index of value.

1

In [49]:
l.pop(3)  #Remove and return item at index (default last).

45

In [50]:
l

[1,
 'cloud',
 345,
 'ai',
 True,
 (3+6j),
 34.98,
 5,
 ['Saturday', 'Monday', 'Tuesday', 'Wednesday'],
 'r',
 'a',
 'h',
 'u',
 'l',
 20.5,
 60,
 20.5,
 60,
 20.5,
 45,
 60]

In [51]:
l.pop()

60

In [52]:
l

[1,
 'cloud',
 345,
 'ai',
 True,
 (3+6j),
 34.98,
 5,
 ['Saturday', 'Monday', 'Tuesday', 'Wednesday'],
 'r',
 'a',
 'h',
 'u',
 'l',
 20.5,
 60,
 20.5,
 60,
 20.5,
 45]

In [53]:
l.pop(-1)

45

In [54]:
l

[1,
 'cloud',
 345,
 'ai',
 True,
 (3+6j),
 34.98,
 5,
 ['Saturday', 'Monday', 'Tuesday', 'Wednesday'],
 'r',
 'a',
 'h',
 'u',
 'l',
 20.5,
 60,
 20.5,
 60,
 20.5]

In [55]:

l.remove(20.5)   #Remove first occurrence of value.

In [56]:
l

[1,
 'cloud',
 345,
 'ai',
 True,
 (3+6j),
 34.98,
 5,
 ['Saturday', 'Monday', 'Tuesday', 'Wednesday'],
 'r',
 'a',
 'h',
 'u',
 'l',
 60,
 20.5,
 60,
 20.5]

In [57]:
l.reverse()

In [58]:
l

[20.5,
 60,
 20.5,
 60,
 'l',
 'u',
 'h',
 'a',
 'r',
 ['Saturday', 'Monday', 'Tuesday', 'Wednesday'],
 5,
 34.98,
 (3+6j),
 True,
 'ai',
 345,
 'cloud',
 1]

In [59]:
l2 = [45,23,90,0,3,4,5,7,8,9]

In [60]:
l2.sort()

In [61]:
l2

[0, 3, 4, 5, 7, 8, 9, 23, 45, 90]

In [62]:
l2.sort(reverse=True)

In [63]:
l2

[90, 45, 23, 9, 8, 7, 5, 4, 3, 0]

In [64]:
l3 = [34, 'machinelearning',45,11,'NLP']
l3.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [65]:
l4 = ['cloud','web','deeplearning','devops','google']

In [66]:
l4.sort()

In [67]:
l4

['cloud', 'deeplearning', 'devops', 'google', 'web']

In [68]:
l4.count('web')

1

In [69]:
len(l4[4])

3

In [70]:
s='nlp'

In [71]:
s[0]=a

TypeError: 'str' object does not support item assignment

In [74]:
s1=s.replace('n','m')

In [75]:
s

'nlp'

#

In [76]:
s1

'mlp'