## Python type Casting
Implicit casting - In Implicit type casting, the python complier internally typecasts one variable into another type without the external action of the user.

Explicit casting - In explicit type casting, the user explicitly forces the complier to convert a variable from one type to another type.

In [2]:
#implicit casting
a = 2
b = 2.5
print(type(a))
print(type(b))
c = a+b  #becuase float have greatest precision 
print(c,type(c))

<class 'int'>
<class 'float'>
4.5 <class 'float'>

In [5]:
# Explicit casting
var = 123 #int
str(var)  #string

'123'

In [6]:
float(var)

123.0

In [7]:
# Float to Integer
var = 7.8
print(int(var))

7

## String Functions

In [8]:
s = "datascience"
s.upper()

'DATASCIENCE'

In [9]:
str1 = "DATASCIENCE"
str1.lower()

'datascience'

In [10]:
str2 = "hello my name is John"
str2.capitalize()

'Hello my name is john'

In [11]:
str2.title()

'Hello My Name Is John'

In [12]:
str1.replace('DA','sa')

'saTASCIENCE'

In [13]:
str1

'DATASCIENCE'

In [14]:
str4 = "one two three one two one four fifty fifty"
str4.count('one')

3

In [15]:
first_day = "Monday"
second_day = "Tuesday"
#format function
"First day is {} and second day is {}".format(first_day,second_day)

'First day is Monday and second day is Tuesday'

In [16]:
s*4

'datasciencedatasciencedatasciencedatascience'

## Relational Opertors in Python
"==" Is Equal To

">=" Is Greater than or Equal to

"<=" Is Less than Equal to

">" Is Greater than

"<" Is Less than

"!=" NotEqual to

In [17]:
10 == 10

True

In [18]:
10 == '10'

False

In [19]:
10 != 9

True

In [20]:
10 > 3

True

In [21]:
10 < 3

False

In [22]:
10 >= 8

True

In [23]:
10 <= 10

True

## Boolean Operators in Python
and - Return True if both operands are True , else False

or - Return True if one of the operands is true , else False

not - Return value opposite to the truth value of the expression

In [24]:
print(True and False)

False

In [26]:
print(True and True and True)

True

In [27]:
print(True or False or False)

True

In [28]:
print(not True)

False